/* 
    .R_card-container {
          grid-template-columns: 1fr;
          margin-top: 30px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(8, 8, 8);
         padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 600px;
        overflow-x: scroll;
        display: flex;
        background-color: #ffffff;
        padding: 4rem;
    }

    .R_card {
        min-width: 300px;
        height: 250px;
        border-radius: 16px;
        background-color: #dddcd6f3;
        box-shadow: -0.5rem 0 1rem rgb(155, 154, 154);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        transition: 0.2s;
    }

    .date {
        color: #d466f5;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0 1rem;
    }

    .tags div {
        font-size: 9px;
        font-weight: 700;
        padding: 4px 10px;
        border: 3px solid #28242f;
        border-radius: 2rem;
    }

    .R_card .category-title {
        font-size: 14px;
        color: rgb(63, 2, 71);
        margin-bottom: 1rem;
    }

    .R_card .article-title {
        font-size: 20px;
        font-weight: 600;
    }

    .R_card .article-header {
        margin-bottom: auto;
    }

    .R_card .author {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 75px 1fr;
    }

    .author .info .caption {
        color: #051d86;
    }

    .R_card:not(:first-child) {
        margin-left: -95px;
    }

    .R_card:hover {
        transform: translateY(-1rem);
    }

    .R_card:hover~.R_card{
        transform: translateX(120px);
    } */


