main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.main__container {
  padding: 25px 40px;
}

.main__title {
  display: flex;
  align-items: center;
}

.main__title > img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.main__greeting > h1 {
  font-size: 25px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.main__greeting > p {
  font-size: 17px;
  font-weight: 700;
  color: #a5aaad;
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #eeeeee, -5px -5px 13px #ececec;
}

.card_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_inner > span {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}

.charts__left {
  padding: 30px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__left__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__left__title > div > h2 {
  font-size: 18px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__left__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.charts__left__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #a288ff;
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 14px;
}
.charts__left__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.btn-cal {
  color: #ffffff;
  font-size: 12px;
  background: #227bff;
  padding: 5px;
  position: right;
}
.cal {
  color: #ffffff;
  margin-left: 84%;
  margin-bottom: 1%;
}
.cal-date {
  color: #1a53ff;
  margin-bottom: 2%;
}
.review_card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  background: #f5f4f4;
  box-shadow: 5px 5px 13px #b9b8b8, -5px -5px 13px #ecebeb;
}
.review_user {
  font-size: 24px;
  color: #5e69fa;
  margin-bottom: 5px;
}
.review_rating {
  color: #fdbb2e;
  font-size: 30px;
  font-weight: 900;
  margin: 0 auto;
  /* direction: rtl; */
}
.review_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
  color: #252525e8;
}

.R_card-container {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  color: rgb(126, 135, 255);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 900px;
  overflow-x: scroll;
  display: flex;
  background-color: #ffffff;
  padding: 2rem;
}

.R_card {
  min-width: 300px;
  height: 250px;
  border-radius: 16px;
  background-color: #e9e9e9f3;
  box-shadow: -0.5rem 0 1rem rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  transition: 0.2s;
}

.date {
  color: #d466f5;
}

.R_card .category-title {
  font-size: 18px;
  color: rgb(63, 2, 71);
  margin-bottom: 1rem;
}

.R_card .article-title {
  font-size: 20px;
  font-weight: 600;
}

.R_card .article-header {
  margin-bottom: auto;
}

.R_card .author {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 75px 1fr;
}

.author .info .caption {
  color: #051d86;
}

.R_card:not(:first-child) {
  margin-left: -95px;
}

.R_card:hover {
  transform: translateY(-1rem);
}

.R_card:hover ~ .R_card {
  transform: translateX(120px);
}
.btn1 {
  background-color: #9aadff;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Courier New;
  color: #303030;
  font-size: 17px;
  padding: 2px 5px 2px 5px;
  border: solid #9d9ca1 1px;
  text-decoration: none;
  margin-left: 0.2rem;
  margin-top: 0.5rem;
}
.btn1:hover {
  background: #4c75fc;
  color: #ffffff;
  text-decoration: none;
}
@media only screen and (max-width: 1100px) {
  .main__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}
